@model IEnumerable<SocialMedia1.Models.ProfileViewModel>

<h4>Following</h4>

<table class="table table-hover table-stripted">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nickname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="window.location='Profile/@item.Id';">
                <td>
                    @Html.DisplayFor(modelItem => item.Nickname)
                </td>
                <td>
                    <a href="/UserProfiles/UnfollowUser/@item.Id" class="btn-danger btn">Unfollow</a>
                </td>
            </tr>
        }
    </tbody>
</table>
